@import "../../style.scss";

.pageStats{
  @include themify($themes) {
    background-color: themed("bgSoft");
  }
  height: 100%;

  .allStats{
    @include themify($themes) {
      padding: 20px 70px;
      background-color: themed("bgSoft");
    }

      .stat{
        @include themify($themes) {
          -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          border-radius: 20px;
          background-color: themed("bg");
          color: themed("textColor");
          padding: 1em;
          white-space: initial;
          
        }
      }
    }
}