.start {
  height: 100vh;
  width: 100%;
  background: #333;
  color: #EEE;

  display: grid;
  place-items: center;

  .questionCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    border-radius: 4px;
    border: 1px solid #EEE;
    background: #444;
    display: flex;
    flex-direction: column;
    align-items: center;

    .question{
      width: 80%;
      height: 75%;
    }
    .nextbtn{
      display: flex;
      justify-content: flex-end;
      width: 80%;
      button {
        border-radius: 5px;
        padding: 0.4em;
        font-size: 20px;
        background: #5271ff;
        border: 0;
        color: #fff;
      }
    }
  }

}